/* global vars  LIGHT MODE*/
.light:root{
  --themeBg: rgb(255, 255, 255);
  --themeBgAccent: rgb(244, 244, 244);
  --themeBgTransparent: rgba(255, 255, 255, 0.75);
  --themeBgSlightTransparent: rgba(255, 255, 255, 0.95);
  --themeBgVeryTransparent: rgba(255, 255, 255, 0.386); 
  --themeAccent: rgb(214, 121, 15);
  --themeAccentTwo: rgb(168, 99, 20);
  --themeColor: rgb(30, 30, 30);
  --themeColorAlt: rgb(45, 45, 45);
  --themeColorTransparent: rgba(30, 30, 30, 0.5);
  --themeBoxShadow: rgba(0, 0, 0, 0.08);
  --buttonBoxShadowHover: 0 20px 25px -5px rgba(0,0,0,.02),0 10px 10px -5px rgba(0,0,0,.04);
  --themeBoxShadowDark: rgb(22, 22, 22);
  --themeTicker: rgb(255, 255, 255);
  --themeTickerFocus: rgb(214, 121, 15);
  --themeButtonHover: rgb(210, 147, 76, .813);
  --themeOutline: rgba(214, 121, 15, 0.442);
  --themeInfoIcon: rgba(186, 186, 186, 0.694);
  --themeHomeBg: rgba(181, 118, 46, 0.15);
  --themeContactOutline: rgba(30, 30, 30, 0.243);
  --themeContactLoading: rgba(30, 30, 30, 0.841);

  --divider: rgb(214, 214, 214);
  --toggleButton: white;
  --arrows: url('/arrowDark.png');
  --topBarFontWeight: 600;
  --qMark: url('/qMarkForLight.png');
  --titleFilter: drop-shadow(2px 0px 3px var(--themeColor));
  --titleColor: var(--themeBg);
  --shadowBackground: linear-gradient(to top, var(--themeColor), transparent 70%);
  --heroBackground: rgb(30, 30, 30);
  --hamburger: url('/hamDark.png');
  --contactColor: rgb(255, 255, 255);
  --copyright: url('/copyrightDark.png');

}

.dark:root{
  --themeBg:rgb(28, 28, 33);
  --themeBgAccent:rgb(19, 19, 22);
  --themeBgTransparent: rgba(28, 28, 33, 0.75);
  --themeBgSlightTransparent: rgba(28, 28, 33, 0.95);
  --themeBgVeryTransparent: rgba(28, 28, 33, 0.386);
  /* --themeAccent: rgb(58, 89, 151); */
  --themeAccent: rgb(81, 117, 189);
  --themeAccentTwo: rgb(81, 117, 189);
  --themeColor: rgb(255, 255, 255);
  --themeColorAlt: rgb(199, 199, 199);
  --themeColorTransparent: rgb(255, 255, 255, 0.5);
  --themeBoxShadow: rgba(255, 255, 255, 0.013);
  --buttonBoxShadowHover: 0 20px 25px -5px rgba(58, 58, 58, 0.1),0 10px 10px -5px rgba(255, 255, 255, 0.04);
  --themeTicker: rgb(255, 255, 255);
  --themeTickerFocus: rgb(81, 117, 189);
  --themeButtonHover: rgba(174, 189, 219, 0.813);
  --themeOutline: rgba(53, 75, 118, 0.442);
  --themeInfoIcon: rgb(54, 54, 65);
  --themeHomeBg: rgb(58, 89, 151,.15);
  --themeContactOutline: rgba(255, 255, 255, 0.243);
  --themeContactLoading: rgba(62, 62, 62, 0.863);

  --divider: rgb(37, 37, 37);
  --toggleButton: white;
  --arrows: url('/arrow.png');
  --topBarFontWeight: 300;
  --qMark: url('/qMarkForDark.png');
  --titleFilter: drop-shadow(2px 0px 3px var(--themeBg));
  --titleColor: var(--themeColor);
  --shadowBackground: linear-gradient(to top, var(--themeBg), transparent 15%);
  --heroBackground: rgb(28, 28, 33);
  --hamburger: url('/hamWhite.png');
  --contactColor: rgb(255, 255, 255);
  --copyright: url('/copyrightLight.png');
}


@media (prefers-color-scheme: dark) {
  /* global vars for dark-scheme */
  :root {
    /* --themeBg: rgb(19, 19, 22);
    --themeBgAccent: rgb(28, 28, 33);
    --themeBgTransparent: rgba(19, 19, 22, 0.75);
    --themeBgSlightTransparent: rgba(19, 19, 22, 0.95);
    --themeBgVeryTransparent: rgba(19, 19, 22, 0.386);
    --themeAccent: rgb(53, 75, 118);
    --themeAccentTwo: rgb(81, 117, 189);
    --themeColor: rgb(255, 255, 255);
    --themeColorAlt: rgb(181, 181, 181);
    --themeColorTransparent: rgb(255, 255, 255, 0.5);
    --themeBoxShadow: rgba(255, 255, 255, 0.013);
    --buttonBoxShadowHover: 0 20px 25px -5px rgba(58, 58, 58, 0.1),0 10px 10px -5px rgba(255, 255, 255, 0.04);
    --themeTicker: rgb(255, 255, 255);
    --themeTickerFocus: rgb(81, 117, 189);
    --themeButtonHover: rgba(174, 189, 219, 0.813);
    --themeOutline: rgba(53, 75, 118, 0.442);
    --themeInfoIcon: rgb(54, 54, 65); */
  }
  /* :root{
    --themeBg: rgb(28, 28, 33);
    --themeBgAccent: rgb(19, 19, 22);
    --themeBgTransparent: rgba(28, 28, 33, 0.75);
    --themeBgSlightTransparent: rgba(28, 28, 33, 0.95);
    --themeBgVeryTransparent: rgba(28, 28, 33, 0.386);
    --themeAccent: rgb(53, 75, 118);
    --themeAccentTwo: rgb(81, 117, 189);
    --themeColor: rgb(255, 255, 255);
    --themeColorAlt: rgb(181, 181, 181);
    --themeColorTransparent: rgb(255, 255, 255, 0.5);
    --themeBoxShadow: rgba(255, 255, 255, 0.013);
    --buttonBoxShadowHover: 0 20px 25px -5px rgba(58, 58, 58, 0.1),0 10px 10px -5px rgba(255, 255, 255, 0.04);
    --themeTicker: rgb(255, 255, 255);
    --themeTickerFocus: rgb(81, 117, 189);
    --themeButtonHover: rgba(174, 189, 219, 0.813);
    --themeOutline: rgba(53, 75, 118, 0.442);
    --themeInfoIcon: rgb(54, 54, 65);

    --contactColor: rgb(255, 255, 255);
    --copyright: url('/copyrightLight.png');
  } */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
/* html{
  overflow-x: hidden;
} */
body{
  position: relative;
}

.hidden{
  visibility: hidden;
}
.translate{
  width: 100%;
  transform: translateY(-200px);
}
.underDevelopment{
  background-image: url('/underDevelopment.png');
  background-color: rgb(248, 211, 50);
}
.deployed{
  background-image: url('/deployed.png');
  background-color: rgb(0, 142, 0);
}
.underDevelopment,.deployed{
  position: absolute;
  top: 25px;
  right:25px;
  border: 1px solid rgb(20, 20, 20);
  box-shadow: 2px 3px 6px -1px var(--themeBoxShadow);
  height: 35px;
  width: 35px;
  border-radius: 2px;
  background-size: 75%;
  background-position: center 3px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}
@media(max-width: 1556px){
  .underDevelopment,.deployed{
    height: 25px;
    width: 25px;
    background-position: 3px 2px;
  }
}
/* @media (max-width: 575px){
  .underDevelopment,.deployed{
    height: 25px;
    width: 25px;
    background-position: 3px 2px;
  }
} */
@media (max-width: 375px){
  .underDevelopment,.deployed{
    height: 19px;
    width: 19px;
    background-position: 2px 1px;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    background-color: var(--themeBg);
    color: var(--themeColor);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: var(--themeBg);
    color: var(--themeColor);
  }
}
