.main {
    display: flex;
    position: relative;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100vh;
    /* height: 1000px; */
    padding: 0 20em 0 20em;
    background: linear-gradient(12deg, var(--themeHomeBg) 33%, var(--themeBgAccent) 33%);
    background-attachment: fixed;

}
.test{
  width: 100%;
  height: 3000px;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--themeBgTransparent);
  padding: 15em 1em 15em 1em;
  box-shadow: 3px 1px 2px -1px var(--themeBoxShadow),
  -3px 1px 2px -1px var(--themeBoxShadow);
  /* overflow-y: scroll; */
  min-width: 950px;

  -ms-overflow-style: none;
  scrollbar-width: none; 
}
/* .container::-webkit-scrollbar {
  display: none;
} */
.introWrapper{
  padding: 0 3em 0 3em;
}
.subHeaderWrapper{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.checkOut{
  display: inline;
  position: relative;
  font-size: 20px;
  margin-left: 10px;
  color: var(--themeAccentTwo);
  font-weight: 600;
  cursor: pointer;

  transition: 0.1s ease-in-out;
}
.checkOut::before,.checkOut::after{
  content: '';
  cursor: pointer;
  position: absolute;
  height: 4px;
  width: 8px;
  rotate: 45deg;
  right: -20px;
  top: 9px;
  background-color: var(--themeAccentTwo);

  transition: 0.2s ease-in-out;
}
.checkOut::after{
  top: 13px;
  rotate: 135deg;
}
.checkOut:hover{
  color: var(--themeColor);
}
.checkOut:hover::before,.checkOut:hover::after{
  background-color: var(--themeColor);
  right: -30px;
}
.intro{
  align-self: flex-start;
  font-size: 48px;
}
.name{
  display: inline-block;
  font-size: 48px;
  color: var(--themeAccent);
}
.subHeader{
  color: var(--themeColorAlt);
  align-self: flex-start;
  font-size: 20px;
}
@media(max-width: 1035px){
  .main{
    padding: 0 5em 0 5em;
  }
  .container{
      min-width: unset;
      width: 100%;
  }
  .introWrapper{
    padding: 0 1em 0 1em;
  }
}
@media(max-width: 675px){
  .main{
    padding: 0 2em 0 2em;
  }
}
@media(max-width: 575px){
  .container{
    padding: 8em 1em 8em 1em;
  }
  .intro,.name{
    font-size: 42px;
  }
  .subHeaderWrapper{
    flex-direction: column;
    align-items: flex-start;
  }
  .checkOut{
    margin: 0;
  }
}
@media(max-width: 475px){
  .main{
    padding: 0 1em 0 1em;
  }
  .intro,.name{
    font-size: 38px;
  }
}
@media(max-width: 375px){
  .intro,.name{
    font-size: 32px;
  }
}
/* only for fixing arrow after 'check out my work' wraps */
@media(max-width: 278px){
  .checkOut::after{
    top: 41px;
  }
  .checkOut::before{
    top: 37px;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {
 
}