.container{
    position: absolute;
    top: 6px;
    right: 6px;
    height: 17px;
    width: 17px;
    background-color: var(--themeInfoIcon);
    background-image: var(--qMark);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    border-radius: 50%;
}

.container:hover{
    background-color: var(--themeButtonHover);
}
.popupRelativeContainer{
    display: block;
    position: relative;
    height: max-content;
    width: max-content;
}
.popup{
    display: flex;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 10px;
    height: fit-content;
    width: 300px;
    background-color: var(--themeBgSlightTransparent);
    border: 1px solid var(--themeAccent);
    border-radius: 2px;
    z-index: 2;
}
@media(max-width: 375px){
    .popup{
        max-width: 200px;
    }
}
/* @media(prefers-color-scheme: dark){
    .container{
        background-image: url('/qMarkForDark.png');
    }
} */

